.cambios_devoluciones_titulo {
	text-align: center;
	color: $color_6;
}
.cambios_titulo {
	text-decoration: underline;
	margin-bottom: 20px;
	color: $color_7;
}
.devoluciones_titulo {
	text-decoration: underline;
	margin-top: 20px;
	margin-bottom: 20px;
	color: $color_7;
}
.envios_titulo {
	text-decoration: underline;
	margin-top: 20px;
	margin-bottom: 20px;
	color: $color_7;
}
.negrita_uno {
	font-weight: bold;
}