$color_1: aqua;
$color_2: rgb(73, 73, 73);
$color_3: blueviolet;
$color_4: #fafafa;
$color_5: black;
$color_6: rgb(153, 37, 153);
$color_7: rgb(38, 141, 141);
$background-color_1: whitesmoke;
$background-color_2: rgb(155, 36, 155);
$background-color_3: rgb(155, 60, 155);